#nvidia {
    background-color: green;

}

.d-block {
    height: 10%;

}

#buscador {
    margin: -1%;

}

#PC {
    right: 11%;

}

#log {
    left: 900px;
    bottom: -5px;
    height: 40px;
    position: relative;


}




